@model StudentVM

@{
    ViewData["Title"] = "Student Details";
}

<div class="container mt-5">
    <div class="card shadow-sm border-0">
        <div class="card-header bg-primary text-white">
            <h4>Şagird haqqında</h4>
        </div>
        <div class="card-body">
          
            <p><strong>Nömrəsi :</strong> @Model.StudentNumber</p>
            <p><strong>Adı :</strong> @Model.FirstName</p>
            <p><strong>Soyadı :</strong> @Model.LastName</p>
            <p><strong>Sinifi :</strong> @Model.GradeLevel</p>
        </div>
        <div class="card-footer text-end">
            <a href="@Url.Action("List")" class="btn btn-primary">Geri</a>
        </div>
    </div>
</div>